* {
    color: darkgreen;
}

body {
    background-color: white;
    margin: 10px;
}

h1 {
    text-align: center;
    background-color: orange;
    color: red;
    border: 5px solid black;
}

p {
    text-align: right;
}

p:nth-child(3) {
    text-align: center;
}

section {
    text-align: center;
    background-color: lawngreen;
}

a {
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    background-color: turquoise;
    color: purple;
}