* { 
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
    font-size: 175%;
    margin: 10px;
    color: purple;
    text-align: center;
}

section {
    background-color: greenyellow;
    color: black;
    padding: 30px 10px 10px 10px;
    margin: 10px;
    border: 1px solid black;
    position: relative;
    height: 200px;
    overflow: auto;
}

.section-title {
    padding: 3px 20px 3px 20px;
    position: absolute;
    margin: 0;
    top: 0px;
    right: 0px;
    border: 1px solid black;
    font-size: 125%;
}

#first p {
    background-color: pink;
}

#second p {
    background-color: coral;
}

#third p {
    background-color: cornflowerblue;
}

@media (max-width: 767px) {
    section {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    section {
        width: 45%;
        float: left;
    }

    #third {
        width: 92%;
    }
}

@media (min-width: 992px) {
    section {
        width: 30%;
        float: left;
    }
}